/* ======================= Importações ====================== */

@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@import url(home.css);
@import url(navigation.css);
@import url(loading.css);

/* ======================= Criação de Variaveis ====================== */

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Cores Primárias*/
  --p-01: #0077B6;
  --p-02: #FFFFFF;
  --p-03: #F5F5F5;

  /*Cores Secundárias*/
  --s-01: #00B894;
  --s-02: #90E0EF;
  --s-03: #2D3436;

  /*Cores de Destaque / Ação*/
  --d-01: #FF6B6B;
  --d-02: #FFD166;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}